<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .active{
            color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg" v-on:keyup="search">
        <button v-on:click="add">添加</button>
        <ul>
            <li v-on:click="change(item)" v-for="(item,index) in showList" v-bind:class="{active:item.isActive}">
                <span>{{item.content}}</span>
                <!-- 这里.stop，是因为删除后，会出现事件冒泡 -->
                <button v-on:click.stop="del(index)">删除</button>
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                msg: '',
                list: [
                    {
                        content: '1234',
                        isActive: false
                    },
                    {
                        content: '2345',
                        isActive: false
                    }
                ],
                showList: [
                    {
                        content: '1234',
                        isActive: false
                    },
                    {
                        content: '2345',
                        isActive: false
                    }
                ],
            },
            methods: {
                add(){
                    this.list.push({
                        content: this.msg,
                        isActive: false
                    });
                    this.showList = [...this.list];
                    //添加成功后，清空输入框，方便下一次操作
                    this.msg = '';
                },
                //类的切换
                change (obj) {
                    obj.isActive = !obj.isActive;
                },
                //把选中的那个元素从数组中移除
                del (index) {
                    // splice(从第几个元素，删除几个元素)
                    this.list.splice(index ,1);
                    this.showList = [...this.list];
                },
                search () {
                    this.showList = this.list.filter ((obj,index)=>{
                        return obj.content.includes(this.msg);
                    })
                }
            }
        })
    </script>
</body>
</html>