* {
    margin: 0;
    padding: 0;
}

body {
    background: #f3f5f7;
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    /* IE6\7专有 */
    *zoom: 1
}

/* -----header开始-------- */
.header {
    height: 42px;
    background-color: #f3f5f7;
    /* 此地方会层叠w的margin属性 */
    margin: 30px auto;
}

.header .logo {
    float: left;
    width: 198px;
    height: 42px;
}

.header .nav {
    float: left;
    margin-left: 60px;
}

.nav ul {
    /* text-align: center; */
}

.nav ul li {
    /* display: inline-block; */
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: inline-block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}


.header .search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: skyblue;
    margin-left: 50px;
}

.header .search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: none;
    padding-left: 15px;
    font-size: 14px;
    color: #bfbfbf ;
}

.header .search button {
    float: left;
    width: 50px;
    height: 42px;
    /* background-color: #00a4ff; */
    border: none;
    background: url(img/fa-search.png);
}


.header .user {
    float: right;
    margin-right: 35px;
    width: 120px;
    height: 42px;
}

.header .user .user-p {
    float: left;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 30px;
    margin-top: 6px;
}

.header .user .user-p img {
    border-radius: 30px;
}

.header .user .user-t {
    float: left;
    font-size: 14px;
    color: #666666;
    line-height: 42px;
    margin-left: 8px;
}

/* -----header结束-------- */

/* -----banner开始-------- */

.banner {
    height: 420px;
    background-color: #033db2;
}

.banner .w {
    height: 420px;
    background: url(img/banner2.png) no-repeat top center;
}

.banner .subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, .3);
}

.subnav ul li {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #ffffff;
}

.subnav ul li a:hover {
    color: #00b4ff;
}

.subnav ul li a span {
    float: right;
}

.banner .course {
    float: right;
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #ffffff;
}

.banner .course h3{
    height: 50px;
    width: 230px;
    background-color: #9bceea;
    color: #fff;
    text-align: center;
    /* 浮动的盒子不会有外边距的合并 */
    line-height: 50px;
}

/* .banner .course div {
    width: 230px;
    font-size: 16px;
    color: #4e4e4e;
    border-bottom: 1px solid #efefef;
} */
.banner .course .bd {
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 0 20px; */
}

.bd ul li { 
    height: 48px;
    padding-top: 14px;
    border-bottom: 1px solid #ccc;
}

.bd ul .first {
    height: 46px;
    padding-top: 20px;
}

.bd ul li>p {
    font-size: 12px;
    color: #a5a5a5;
}
.bd ul li div {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li div  p {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #4e4e4e;
}

.bd .more {
    display: block;
    margin-top: 4px;
    margin-right: 20px;
    width: 190px;
    height: 36px;
    border: 1px solid #22b0ff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #00a4ff;
}

/* -----banner结束-------- */

/* -----goods开始-------- */

.goods {
    margin-top: 10px;
    height: 60px;
    background-color: #ffffff;
    line-height: 60px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.goods h3 {
    float: left;
    width: 132px;
    height: 60px;
    color: #00a4ff;
    text-align: center;
}

.goods ul li {
    float: left;
    /* width: 122px;
    height: 60px; */
    /* text-align: center; */
    
}

.goods ul li a {
    padding: 0 32px;
    border-left: 1px solid black;
    font-size: 16px;
}

.goods>a {
    float: right;
    margin-right: 26px;
    color: #00a4ff;
}

/* -----goods结束-------- */

/* -----box结束-------- */
.box {
    margin-top: 30px;
    /* height: 605px; */
}

.box .box-hd {
    height: 45px;
}

.box .box-hd .left {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd .right {
    float: right;
    margin-top: 10px;
    margin-right: 32px;
    font-size: 12px;
    color: #a5a5a5;
}

.box .box-bd {
    width: 1225px;
}

.box-bd ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: pink;
}

.box-bd ul li img {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 18px 20px 24px;
    font-size: 14px;
    font-weight: normal;
    color: #050505;
}

.box-bd ul li .info {
    margin: 0 18px 0 24px;
    font-size: 12px;
    color: #999999;
}


.box-bd ul li .info span {
    color: #ff7c2d;
}

/* -----box结束-------- */

/* -----footer开始-------- */
.footer {
    height: 415px;
    background-color: white;
}

.footer .w {
    padding-top: 35px;
    height: 150px;
    /* background-color: #22b0ff; */
}

.footer .w .copyright {
    float: left;
    margin-left: 20px;
}

.footer .w .copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.footer .w .copyright .app {
    width: 120px;
    height: 35px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.footer .w .links {
    float: right;
}

.footer .w .links dl {
    float: left;
    margin-left: 100px;
    color: #333333;

}

.footer .w .links dl dt {
    font-size: 16px;
}

.footer .w .links dl a {
    margin-top: 5px;
    font-size: 12px;
}
/* -----footer结束-------- */






